{% include 'header.html' %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('static/assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Didier Mbonekube</h1>
                    <span class="subheading">Software Developer. <br>Full-Stack Developer. <br>Information Security Specialist. <br>ICT Professional.</span>

                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>I'm an enthusiast ICT who keeps up to date with the latest trends in the technology industry.<br>
                    An innovative and solutions-focused ICT Specialist with more than fifteen years of experience in Software/Web Development,
                    Network Engineering, Server Virtualization, and End-User Computing.</p>
                <h3>Python</h3>
                <p>Python Programmer specialized in Data Science, ML, AI and Web Development</p>

                <h3>System Administrator: Linux and Windows</h3>
                <p>Motivated and experienced in supporting network infrastructure for multi-user and remote environments.</p>

            </div>
        </div>
    </div>
</main>

{% include 'footer.html' %}